@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-img {
    @apply bg-no-repeat bg-image bg-size bg-position xs:bg-position-xs md:bg-size-md md:bg-position-md lg:bg-size-lg lg:bg-position-lg;
  }

  .btn {
    @apply flex h-min p-2 rounded-lg cursor-pointer transition hover:bg-white/10 active:scale-90;
  }

  .h1 {
    @apply text-5xl font-bold leading-tight md:text-7xl;
  }

  .h3 {
    @apply text-base font-bold md:text-2xl;
  }

  .p {
    @apply text-xs font-medium leading-relaxed md:text-lg;
  }

  .dropdown {
    @apply relative;
  }

  .dropdown-check {
    @apply absolute z-[-1] opacity-0 lg:hidden;
  }

  .dropdown-check:focus-visible ~ .dropdown-btn {
    @apply ring;
  }

  .dropdown-check:checked ~ .dropdown-content {
    @apply flex animate-[show-dropdown-content_0.2s_ease-in];
  }

  .dropdown-btn {
    @apply lg:hidden;
  }

  .dropdown-content {
    @apply hidden flex-col rounded-lg px-6 py-4 absolute top-16 right-0 select-none border border-color bg-color-transparent backdrop-blur-sm lg:flex lg:flex-row lg:bg-transparent lg:border-none lg:top-0 lg:gap-8;
  }

  .dropdown-content li > * {
    @apply w-full;
  }

  .dropdown-item-btn {
    @apply justify-center text-xl lg:px-1 lg:rounded-none;
  }

  .dropdown-item-btn-selected {
    @apply lg:border-b-2;
  }
}

@layer utilities {
  .wh-full {
    @apply w-full h-full;
  }

  .min-wh-full {
    @apply min-w-full min-h-full;
  }
}

*:focus-visible {
  @apply outline-none ring;
}

[class^="ph-"] {
  display: flex;
}

@keyframes show-dropdown-content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
